/* estilos.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&family=New Rocker&family=Germania One&display=swap');


body { 
    font-family: 'Poppins', 'Ubuntu', Arial, sans-serif; 
    margin: 30px; 


    background-color: rgb(14, 10, 18);
    background-image: url('IMGs/0_fondo2_256.png');
    background-repeat: repeat; 
    background-size: 12.5pt 12.5pt;
    background-position: 0 0;

    text-align: justify;
}

/* Ventana renderizado */
#canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}


/* general */

h1{
    font-family: 'New Rocker','Germania One','Poppins', 'Ubuntu', Arial, sans-serif; 
    font-size: 32pt;
    background: linear-gradient(90deg, #ffdd6d, #fffea6,#ffdd6d);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: textGradient 1.1s linear infinite;
}
@keyframes h-textGradient {
    0%,100% { background-position: 200% 50%; }
    50% { background-position: 0% 50%; }
}
h2{
    font-family: 'Germania One','Poppins',  'Ubuntu', Arial, sans-serif; 
    font-size: 25pt;
    background: linear-gradient(180deg, #fffca4, #ff7b00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
p{
    font-family:  'Ubuntu', Arial, sans-serif; 
    font-size: 15pt;
    font-weight: 900;
    color: #fffad0;
}

/* software engineering window */
.section{
    min-width: 350pt;
    margin-top: 25pt;
}
.section-title{
    height: 50pt;
    margin-bottom: -5pt;
}
.section-line{
    width: auto;
    height: 30pt;
    margin: 1pt;
}
.section-experience{
    width: auto;
}
.experience-img{
    width: 52px;
    height: 28px;
    margin-right: -5pt;
    margin-left: -10pt;
}
.emblem-container{
    margin-top: 15pt;
    width: 70pt;
}
.emblem-img{
    width: 50pt;
    height: 50pt;
    margin: 5pt;
}

/* AboutMe */
.abtme-img{
    width: 100%;
    border: 6px solid #000000;
    border-radius: 20px;
    margin-bottom: 60px;
}
.abtme-txt{
    margin-left: 40px;
}

@media (max-width: 767.5px) {
    .abtme-img{
        width: 120pt;
    }
    .abtme-txt{
        margin-left: 0px;
    }
    .p-abtme{
        font-size: 12pt;
    }
}
/* Menu inicial */

.main-button{
    width: 400px;
}


@media (max-width: 300px) {
    .main-button{
        width: 300px;
    }
}

.title-text {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.gradient-text {
    background: linear-gradient(90deg, #28dfff, #7b4bfe);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.default-text {
    background: rgb(22, 22, 149) ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


/* Estilos para los botones de navegación */
.nav-button {
    font-family: 'Germania One','Poppins','Ubuntu',  Arial, sans-serif; 
    border: 0px solid #ffc52500;
    border-radius: 20px;
    box-shadow: 0 0px 1px rgba(255, 199, 30, 0);
    transition: all 0.3s ease-out;
    text-decoration: none;
    background-color: rgba(0, 00, 0, 0);
    position: relative;
    overflow: hidden;
    z-index: 1;
}


/* Efecto hover en el botón */
.nav-button:hover {
    transform: scale(1.20);
    border: 2px solid;
    background-color: rgba(22, 10, 38, 0.753);
    animation: colorChangeButtonBorder 1.2s linear infinite;
    z-index: 1000;
    
}

@keyframes colorChangeButtonBorder {
    0%, 100% {
        border-color:rgb(255, 255, 241);
        box-shadow: 
            0 0 12px rgb(255, 238, 87);
    }
    50% {
        border-color:  rgb(250, 255, 161);
        box-shadow: 
            0 0 6px rgba(255, 203, 45, 0.71);
    }
}

/* Animación del brillo del FONDO */
.nav-button::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(70deg, transparent, rgba(247, 96, 255, 0.191), transparent);
    transition: left 0.7s ease;
    z-index: 1;
}

.nav-button:hover::before {
    left: -100%;
}

/* Texto con gradiente */
.nav-button-text {
    font-size: 36px;
    background: linear-gradient(90deg,  #fffd94,#ffd04f, #fffd94, #ffffef);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: textGradient 1.3s linear infinite;
}

/* Hover: Color plano animado */
.nav-button:hover .nav-button-text {
    /* 1. QUITAR el background-clip */
    -webkit-background-clip: initial;
    background-clip: initial;
    
    /* 2. QUITAR el gradiente */
    background: none;
    
    /* 3. Poner color sólido directo */
    color: rgb(229, 211, 211); /* Color inicial de la animación */
    
    /* 4. Animar el color */
    animation: colorChange 1.2s linear infinite;
}

@keyframes textGradient {
    0% { background-position: 200% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes colorChange {
    0%, 100% { 
        color: rgb(255, 255, 244);
        text-shadow: 0 0 5px rgb(255, 226, 10);
    }
    50% { 
        color: rgb(250, 255, 160);
        text-shadow: 0 0 2px rgba(255, 166, 0, 0.95);
    }
}