/* PLAYERS COLORS */
.player-0-color{
    color: rgb(255, 255, 0);
}
.player-1-color{
    color: rgb(255, 72, 72);
}
.player-2-color{
    color: rgb(0, 255, 255);
}
.player-3-color{
    color: rgb(60, 255, 60);
}
.player-4-color{
    color: rgb(255, 167, 44);
}
.player-5-color{
    color: rgb(232, 81, 255);
}
/* UI MENU INICIAL Y MENU DE SALA */
.error { color: red; }
.success { color: green; }
button:disabled { opacity: 0.5; }

.host-name { /*font-weight: bold;*/ color: #34495e; }
.player-name { color: #34495e; }
.player-list {
    padding: 15px;
    margin: 10px 0;
    border-radius: 15px;
}
.player-list h4 {
    margin-top: 0;
    color: #333;
}
.player-list ul {
    list-style: none;
    padding: 0;
}
.player-list li {
    padding: 8px;
    margin: 5px 0;
    background-color: white;
    border-radius: 8px;
    border: 2px solid;
    border-left: 10px solid;
    
    border-color: #6a6a6a;
}
.player-list li.p0 {
    border-color: rgb(255, 230, 45);
    background-color: rgb(255, 255, 184);
}
.player-list li.p1 {
    border-color: rgb(255, 99, 99);
    background-color: rgb(255, 199, 199);
}
.player-list li.p2 {
    border-color: rgb(0, 247, 255);
    background-color: rgb(181, 255, 255);
}
.player-list li.p3 {
    border-color: rgb(60, 255, 60);
    background-color: rgb(199, 255, 199);
}
.player-list li.p4 {
    border-color: rgb(255, 175, 63);
    background-color: rgb(255, 224, 189);
}
.player-list li.p5 {
    border-color: rgb(232, 81, 255);
    background-color: rgb(247, 212, 255);
}

.main-menu{
    border: 3px solid;
    border-radius: 25px;
    border-color: rgb(174, 233, 234);
    background-color: rgb(220, 246, 255);
    height: 150pt;
    width: 200pt;
    display: flex; 
    flex-direction: column;
}

.room-menu{
    border: 2px solid;
    border-radius: 25px;
    border-color: rgb(174, 233, 234);
    background-color: rgb(233, 250, 255);
    width: 300pt;
    display: flex; 
    flex-direction: column;
}
/* UI PARTIDA */
@keyframes goLeftWhenSpawn {
    0% { 
        transform: translateX(-100%); 
        opacity: 0;
        transform: scale(1);
    }
    50% { 
        transform: translateX(-50%); 
        opacity: 100;
        transform: scale(1.4);
    }
    100% { 
        transform: translateX(0%); 
        opacity: 100;
        transform: scale(1);
    }
}

@keyframes goRightWhenSpawn {
    0% { 
        transform: translateX(100%); 
        opacity: 0;
        transform: scale(1);
    }
    50% { 
        transform: translateX(50%); 
        opacity: 100;
        transform: scale(1.4);
    }
    100% { 
        transform: translateX(0%); 
        opacity: 100;
        transform: scale(1);
    }
}

@keyframes goUpWhenSpawn {
    0% { 
        transform: translateY(100%); 
        opacity: 0;
        transform: scale(1);
    }
    50% { 
        transform: translateY(50%); 
        opacity: 100;
        transform: scale(1.4);
    }
    100% { 
        transform: translateY(0%); 
        opacity: 100;
        transform: scale(1);
    }
}

@keyframes goDownWhenSpawn {
    0% { 
        transform: translateY(-100%); 
        opacity: 0;
        transform: scale(1);
    }
    50% { 
        transform: translateY(-50%); 
        opacity: 100;
        transform: scale(1.4);
    }
    100% { 
        transform: translateY(0%); 
        opacity: 100;
        transform: scale(1);
    }
}

.anim-left {
    animation: goLeftWhenSpawn 0.6s ease-out;
}
.anim-right {
    animation: goRightWhenSpawn 0.6s ease-out;
}
.anim-up {
    animation: goUpWhenSpawn 0.6s ease-out;
}
.anim-down {
    animation: goDownWhenSpawn 0.6s ease-out;
}