/* PLAYERS COLORS */
.player-0-color{
    color: rgb(255, 255, 0);
}
.player-1-color{
    color: rgb(255, 72, 72);
}
.player-2-color{
    color: rgb(0, 255, 255);
}
.player-3-color{
    color: rgb(60, 255, 60);
}
.player-4-color{
    color: rgb(255, 167, 44);
}
.player-5-color{
    color: rgb(232, 81, 255);
}
/* UI MENU INICIAL Y MENU DE SALA */
.error { color: red; }
.success { color: green; }
button:disabled { opacity: 0.5; }

.host-name { /*font-weight: bold;*/ color: #34495e; }
.player-name { color: #34495e; }
.player-list {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.player-list h4 {
    margin-top: 0;
    color: #333;
}
.player-list ul {
    list-style: none;
    padding: 0;
}
.player-list li {
    padding: 8px;
    margin: 5px 0;
    background-color: white;
    border-radius: 3px;
    border: 1px solid;
    border-left: 10px solid;
    
    border-color: #6a6a6a;
}
.player-list li.p0 {
    border-color: rgb(255, 255, 0);
}
.player-list li.p1 {
    border-color: rgb(255, 72, 72);
}
.player-list li.p2 {
    border-color: rgb(0, 255, 255);
}
.player-list li.p3 {
    border-color: rgb(60, 255, 60);
}
.player-list li.p4 {
    border-color: rgb(255, 167, 44);
}
.player-list li.p5 {
    border-color: rgb(232, 81, 255);
}

/* UI PARTIDA */
@keyframes goLeftWhenSpawn {
    0% { 
        transform: translateX(-100%); 
        opacity: 0;
        transform: scale(1);
    }
    50% { 
        transform: translateX(-50%); 
        opacity: 100;
        transform: scale(1.4);
    }
    100% { 
        transform: translateX(0%); 
        opacity: 100;
        transform: scale(1);
    }
}

@keyframes goRightWhenSpawn {
    0% { 
        transform: translateX(100%); 
        opacity: 0;
        transform: scale(1);
    }
    50% { 
        transform: translateX(50%); 
        opacity: 100;
        transform: scale(1.4);
    }
    100% { 
        transform: translateX(0%); 
        opacity: 100;
        transform: scale(1);
    }
}

@keyframes goUpWhenSpawn {
    0% { 
        transform: translateY(100%); 
        opacity: 0;
        transform: scale(1);
    }
    50% { 
        transform: translateY(50%); 
        opacity: 100;
        transform: scale(1.4);
    }
    100% { 
        transform: translateY(0%); 
        opacity: 100;
        transform: scale(1);
    }
}

@keyframes goDownWhenSpawn {
    0% { 
        transform: translateY(-100%); 
        opacity: 0;
        transform: scale(1);
    }
    50% { 
        transform: translateY(-50%); 
        opacity: 100;
        transform: scale(1.4);
    }
    100% { 
        transform: translateY(0%); 
        opacity: 100;
        transform: scale(1);
    }
}

.anim-left {
    animation: goLeftWhenSpawn 0.6s ease-out;
}
.anim-right {
    animation: goRightWhenSpawn 0.6s ease-out;
}
.anim-up {
    animation: goUpWhenSpawn 0.6s ease-out;
}
.anim-down {
    animation: goDownWhenSpawn 0.6s ease-out;
}